# Binaries
**/bin
**/bin-temp
**.o
**.obj
**.pdb
**.lib
**.dll
**.exp
**.ilk
**.pch
**.i

# Python
**/__pycache__/

# Logs
/logs
**.log
**.tlog
**.lastbuildstate

# Visual Studio
**/.vs
**/.vscode
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
!external/wxWidgets/*.sln
!external/wxWidgets/*.vcxproj
!external/wxWidgets/*.vcxproj.filters
!external/wxWidgets/*.vcxproj.user

# Exporting
**/Exported
**/ExportedProjectData.hpp

# Others
**.zip

# wxWidgets source
external/wxWidgets_src

# Often changing levels
DevProject/Levels/Level.lvl.sharpheus

# Exceprions
!external/wxWidgets/**/*.dll
!external/wxWidgets/**/*.pdb
!external/wxWidgets/**/*.lib
!external/wxWidgets/**/*.exp
