# Binaries
**/bin
**/bin-temp
**.o
**.obj
**.pdb
**.lib
**.dll
**.exp
**.ilk
**.pch
**.i

# Python
**/__pycache__/

# Logs
/logs
**.log
**.tlog
**.lastbuildstate

# Visual Studio
**/.vs
**/.vscode
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
!external/wxWidgets/*.sln
!external/wxWidgets/*.vcxproj
!external/wxWidgets/*.vcxproj.filters
!external/wxWidgets/*.vcxproj.user

# Exporting
**/Exported
**/ExportedProjectData.hpp

# Others
**.zip

# Exceptions
!Template/bin
!Template/bin/**/*.dll