# Binaries
**/bin
**/bin-temp
**.o
**.obj
**.pdb
**.lib
**.dll
**.exp
**.ilk
**.pch

# Logs
/logs
**.log
**.tlog
**.lastbuildstate

# Visual Studio
**/.vs
**/.vscode
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
!external/wxWidgets/*.sln
!external/wxWidgets/*.vcxproj
!external/wxWidgets/*.vcxproj.filters
!external/wxWidgets/*.vcxproj.user